<%inherit file="base.html" />
<%namespace name='static' file='static_content.html'/>
<%!
  from django.core.urlresolvers import reverse
  from django.utils.translation import ugettext as _
%>

<%block name="title">${_("Welcome")}</%block>
<%block name="bodyclass">not-signedin index view-howitworks</%block>

<%block name="content">

<div class="wrapper-content-header wrapper">
  <section class="content content-header">
    <header>
      ## "edX Studio" should not be translated
      <h1><span class="wrapper-text-welcome">${_('Welcome to')}</span><span class="logo">Dares Course Builder</span></h1>
    </header>
  </section>
</div>



<div class="wrapper-content-cta wrapper">
  <section class="content content-cta">
    <header>
      <h2 class="sr">${_("Sign Up for Studio Today!")}</h2>
    </header>


  </section>
</div>


</%block>
